{% load staticfiles %}
{%  load i18n %}
<section class="ulockd-divider ulockd-bgthm">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="color-white ulockd-mrgn120">{% trans "Get" %} {{discount_max_int}}% {% trans "Off Our All Packages! Check It Out." %}</h2>
					<!-- <p class="color-white ulockd-mrgn60">Sed ut Perspiciatis Unde Omnis Iste Sed ut sit voluptatem accusan tium</p> -->
				</div>
				<div class="col-md-4 text-center tal-smd">
					
					 <span class="scroll"><a href="#service">
						<button type="submit" class="btn btn-lg btn btn-lg ulockd-btn-white ulockd-mrgn1215">{% trans "Explore Service" %}</button>
						</a></span>
					
					<span class="scroll"><a href="#pricing">
						<button type="submit" class="btn btn-lg ulockd-btn-styledark ulockd-mrgn1215">{% trans "All Packages" %}</button>
						</a></span>
				</div>
			</div>
		</div>
	</section>