<section class="parallax bgc-overlay-white9 ulockd_bgi1" data-stellar-background-ratio="0.3">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="grid-box">
						<iframe class="h300" src="http://www.youtube.com/embed/BDSGXVY3aNA?autoplay=0" allowfullscreen=""></iframe>
					</div>
				</div>
				<div class="col-md-6">
					<div class="playstore-details">
						<h3 class="ulockd-mrgn120">Natural Patient And Supplier Stages, We work On This Platform Also.</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ratione hic voluptas, vel laudantium aut, quas!</p>
						<div class="col-xxs-12 col-xs-6 col-sm-6 ulockd-pdng0">
							<ul class="list-unstyled list-style-circle">
								<li>Remote Vitals Monitoring.</li>
								<li>Risk Stratification.</li>
								<li>Disease Management.</li>
								<li>Care Coordination</li>
								<li>Secure Messaging</li>
								<li>Medication Compliance</li>
							</ul>
						</div>
						<div class="col-xxs-12 col-xs-6 col-sm-6 ulockd-pdng0">
							<ul class="list-unstyled list-style-circle">
								<li>Outpatient Rehabilitation.</li>
								<li>Surgery & Transplants.</li>
								<li>Gynaecological Clinic.</li>
								<li>Primary Health Care</li>
								<li>Emergancy / Critical Care</li>
								<li>Feel like Home Services</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>