{% load staticfiles %}
{%  load i18n %}
<section class="ulockd-footer ulockd-pdng0">
		<div class="container footer-padding">
			<div class="row">
				<div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
					<div class="logo-widget tac-xxsd">
						<img src="{% static 'img/TD_Trans.png' %}" alt="traveldoctor-logo.png">
					</div>
				</div>
				{% include 'footersnippets/socialdefault.html' %}
				<!-- <div class="col-xs-12 col-sm-4 col-md-4">
					<div class="payment-card tac-xsd">
						<img class="pull-right fn-xsd" src="" alt="payment.png">
					</div>
				</div> -->
			</div>
			<hr>
			<div class="row">
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="widget-about">
						<h3>{%trans "About Us" %}</h3>
						{% if instance.about %}
                          <p>{{instance.about}} </p>
                        {% else %}   
						        <p>{% trans "We are specialists and professors of our respective specialties, certified in the respective councils of specialties, with publications in different journals and medical books. We offer medical services with the most advanced technology and the most up-to-date knowledge." %}  </p>
						{% endif %}	
											
					</div>
    				<div class="ulockd-footer-newsletter">
    					<h3 class="title">{%trans "News Letter"%}</h3>
		                <form class="ulockd-mailchimp" method='POST' action='{% url "newsletter:newsletter" %}' data-endpoint='{% url "newsletter:newsletter" %}'>{% csrf_token %}
		                    <div class="input-group" > 
			                    <input type="email" class="form-control input-md" placeholder="Your email" name="EMAIL" value="">
			                    <span class="input-group-btn">
			                        <button type="submit" class="btn btn-md"><i class="icon fa fa-chevron-right"></i></button>
			                    </span>
		                    </div>
		                </form>
		           
    				</div>
				</div>
				<!-- <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="twitter-widget">
						<h3>Twitter Feed</h3>
						<div class="twitter"></div>
					</div>
				</div> -->
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="news-widget">
						<h3>{%trans "Latest News"%}</h3>
						<div class="ulockd-media-box">
						{%  for article in article_list %}
							{% if forloop.counter < 3 %}
							<div class="media">
							    <div class="media-left pull-left">
								    <a href="{{article.get_absolute_url}}">
								    	<!-- <img class="media-object" src="{{instance.profilepicture.url}}" alt="{{instance.profilepicture.url}}"> -->
								    	<span><i class="fa fa-newspaper color-fb"></i></span>
								    </a>
							    </div>
							    <div class="media-body">
							    	<a href="{{article.get_absolute_url}}" > <h4 class="media-heading">{{article.company_name|title}} </h4>
									<span class="post-date">{{ article.publish }}</span>
							    	<p>{{article.get_markdown|truncatewords_html:10}}</p></a>
							    </div>
							</div>


							{% endif %}
						
						
						{% endfor %}

									
							

						</div>
					</div>
				<!-- 	<div class="tag-widget">
						<h3>Tag Widget</h3>
						<ul class="list-inline">
							<li><a href="https://goo.gl/R31uT6" target="_blank">Bclinico</a></li>
							<li><a href="https://goo.gl/L89wgd" target="_blank">bMax</a></li>
							<li><a href="https://goo.gl/8kUQMn" target="_blank">Comfort Home</a></li>
							<li><a href="https://goo.gl/SH6A6G" target="_blank">Be aHand</a></li>
							<li><a href="https://goo.gl/ad13tZ" target="_blank">Be Finance</a></li>
							<li><a href="https://goo.gl/368vG8" target="_blank">GreenPlats</a></li>
							<li><a href="https://goo.gl/NctFNT" target="_blank">eHospital</a></li>
							<li><a href="https://goo.gl/jU5i9Y" target="_blank">MrFix</a></li>
							<li><a href="https://goo.gl/mKBDsp" target="_blank">Couple Heart</a></li>
						</ul>
					</div> -->
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					{% include 'footersnippets/links.html' %}
					<!-- <div class="flickr-widget">
						<h3>Flickr Feed</h3>
						<ul class="list-inline">
							<li>
								<div class="thumb">
									<img alt="flckr1.jpg" src="" class="img-responsive img-whp">
									<div class="overlay">
										<span class="flaticon-add"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img alt="" src="" class="img-responsive img-whp">
									<div class="overlay">
										<span class="flaticon-add"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img alt="" src="" class="img-responsive img-whp">
									<div class="overlay">
										<span class="flaticon-add"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img alt="" src="" class="img-responsive img-whp">
									<div class="overlay">
										<span class="flaticon-add"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img alt="" src="" class="img-responsive img-whp">
									<div class="overlay">
										<span class="flaticon-add"></span>
									</div>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img alt="" src="" class="img-responsive img-whp">
									<div class="overlay">
										<span class="flaticon-add"></span>
									</div>
								</div>
							</li>
						</ul>
					</div> -->
				</div>
			</div>
			<hr>
			{% include 'footersnippets/contactinfouser.html' %}
			<hr class="ulockd-mrgn60">
		</div>
		<div class="ulockd-copy-right">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="color-white">TravelDoctor's Copyright© 2020. All right reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</section>