{% load staticfiles %}
<section class="ulockd-divider ulockd-bgthm">
		<div class="container">
			<div class="row">
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-one text-center">
						<span class="flaticon-medical-11"></span>
                        <p class="color-white">Total Doctor's</p>
                        <div class="timer color-white">2860</div>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-one text-center">
						<span class="flaticon-medal-1"></span>
                        <p class="color-white">Total Awards</p>
                        <div class="timer color-white">1180</div>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-one text-center">
						<span class="flaticon-square"></span>
                        <p class="color-white">Clinical Services</p>
                        <div class="timer color-white">85</div>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-one text-center">
						<span class="flaticon-multiple-users-silhouette"></span>
                        <p class="color-white">Happy Patients</p>
                        <div class="timer color-white">11750</div>
					</div>
				</div>
			</div>
		</div>
	</section>
