{%  load i18n %}
{% load staticfiles %}
<section class="ulockd-divider ulockd-bgthm">
		<div class="container">
			<div class="row">
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-one text-center">
						<span class="flaticon-medical-11"></span>
                        <p class="color-white">{% trans "Total Doctor's" %}</p>
                        <div class="timer color-white">{{instance.get_total_doctors}}</div>
					</div>
				</div>
				{% if instance.awardnumber %}
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-one text-center">
						<span class="flaticon-medal-1"></span>
                        <p class="color-white">{% trans "Total Awards" %}</p>
                        <div class="timer color-white">{{instance.awardnumber}}</div>
					</div>
				</div>
				{% endif %}
				{% if instance.get_total_services %}
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-one text-center">
						<span class="flaticon-square"></span>
                        <p class="color-white">{% trans "Clinical Services" %}</p>
                        <div class="timer color-white">{{instance.get_total_services}}</div>
					</div>
				</div>
				{% endif %}
				{% if instance.patientnumber %}
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
					<div class="ulockd-ffact-one text-center">
						<span class="flaticon-multiple-users-silhouette"></span>
                        <p class="color-white">{% trans "Happy Patients" %}</p>
                        <div class="timer color-white">{{instance.patientnumber}}</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
