{% load staticfiles %}	
{%  load i18n %}
{% load urlify%}
	<div class="header-top bgc-whitef5">
  		<div class="container">
  			<div class="row ">
  				{% include 'navbarsnippets/topleftlogo.html' %}
  				{% include 'navbarsnippets/socialdoctor.html' %}
  				{% include 'navbarsnippets/logintopright.html' %}
  			</div>
  		</div>
  	</div>
	
	
	<!-- Header Styles -->
	<header id ="header" class="header-nav">
		<div class="main-header-nav navbar-scrolltofixed">
			<div class="container ulockd-pdng0">
			    <nav class="navbar navbar-default bootsnav menu-style1 navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
					<!-- Start Top Search -->
			        <div class="top-search">
			            <div class="container">
			                <div class="input-group">
			                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
			                    <input type="text" class="form-control" placeholder="Search">
			                    <span class="input-group-addon close-search"><i class="fa fa-times color-white"></i></span>
			                </div>
			            </div>
			        </div>
			        <!-- End Top Search -->

			        <div class="container">
			            <!-- Start Atribute Navigation -->
			            <div class="attr-nav">
			                <ul>
			                   {% include 'navbarsnippets/shopbag.html'  %}  
			                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
			                    <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>

			                </ul>
			            </div>
			            <!-- End Atribute Navigation -->

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand ulockd-main-logo2" href="#brand">
			                    <img src="images/header-logo2.png" class="logo logo-scrolled" alt="">
			                </a>
			            </div>
			             <div style="display: flex;">
				             <div class="navbar-header pointer-auto ">
					                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#locationcollapse">
					                          <i  style="display:none;" class="fa fa-bars"></i>
					                          <span class="fas  fa-folder mobilefolderbutton text-thm2"></span>
					                      </button>
					                     <a class="navbar-brand ulockd-main-logo2" href="#brand">
					                          <img src="" class="logo logo-scrolled" alt="">
					                      </a>
					         </div>
					          <div class="navbar-header pointer-auto ">
					                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#locationcollapse">
					                          <i  style="display:none;" class="fa fa-bars"></i>
					                          <span class="fas fa-first-aid mobilewebhelp text-thm2"></span>
					                      </button>
					                     <a class="navbar-brand ulockd-main-logo2" href="#brand">
					                          <img src="" class="logo logo-scrolled" alt="">
					                      </a>
					         </div>
				         </div>
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-left" data-in="fadeIn">
								<li class="active scroll"><a href="#home">Home</a></li>
								<li class="scroll"><a href="#home">About Us</a></li>
								<li class="scroll"><a href="#service">Service</a></li>
								<li class="scroll"><a href="#department">Department</a></li>
								<li class="scroll"><a href="#gallery">Our Galery</a></li>
								<li class="scroll"><a href="#team">Team</a></li>
								<li class="scroll"><a href="#insurance">Insurance</a></li>
								<li class="scroll"><a href="#payment">Payment</a></li>
								<li class="scroll"><a href="#lang">Language</a></li>
								
			                </ul>
			            </div><!-- /.navbar-collapse -->
			        </div>

			        <!-- Start Side Menu -->
			         {% include 'rightsidemenu.html' %}
			        <!-- End Side Menu -->
			    </nav>
			</div>
		</div>		
	</header>
