{% load staticfiles %}	
{% load crispy_forms_tags %}
{%  load i18n %}
{% load urlify%}
	<div class="header-top bgc-whitef5">
  		<div class="container">
  			<div class="row ">
  				{% include 'navbarsnippets/topleftlogo.html' %}
  				{% include 'navbarsnippets/socialdoctor.html' %}
  				{% include 'navbarsnippets/logintopright.html' %}
  			</div>
  		</div>
  	</div>
	
	<!-- Header Styles -->
	<header id="header" class="header-nav pointer-none">
		<div class="main-header-nav navbar-scrolltofixed">
			<div class="container ulockd-pdng0">
			    <nav class="navbar navbar-default bootsnav menu-style1 navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
					<!-- Start Top Search -->
			       
			        <!-- End Top Search -->

			        <div class="container">
			            <!-- Start Atribute Navigation -->
			            <div class="attr-nav pointer-auto">
			              
			               
			                <ul>
			                   {% include 'navbarsnippets/shopbag.html'  %}  
			                    
			                    <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>

			                </ul>
			            </div>
			            <!-- End Atribute Navigation -->

			            <!-- Start Header Navigation -->
			            <div class="navbar-header pointer-auto ">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand ulockd-main-logo2" href="#brand">
			                    <img src="" class="logo logo-scrolled" alt="">
			                </a>



			            </div>
			           
							          <div class="navbar-header pointer-auto ">
				                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#locationcollapse">
				                          <i  style="display:none;" class="fa fa-bars"></i>
				                         
				                      </button>
				                     <a class="navbar-brand ulockd-main-logo2" href="#brand">
				                          <img src="" class="logo logo-scrolled" alt="">
				                      </a>
				                  </div>
				                  
			            <!-- End Header Navigation -->
			             
			            <!-- Collect the nav links, forms, and other content for toggling -->
			          
			        </div>

			        <!-- Start Side Menu -->
			         {% include 'rightsidemenu.html' %}
			        <!-- End Side Menu -->
			    </nav>
			</div>
		</div>		
	</header>
