{% load staticfiles %}	
{%  load i18n %}
{% load urlify%}
	<div class="header-top bgc-whitef5">
  		<div class="container">
  			<div class="row ">
  				<div class="col-md-5 ">
  					<div class="welcm-ht">
  						<ul class="list-inline ulockd-mrgn1215">
  							
  							<li><h2  style="margin: 0"> <img  style="" src="{% static 'img/TD_Trans.png' %}"><span class=logo-text>
  							Todos Doctores |</span ></h2> </li>
  							<li><a href=""><i class="fa fa-medkit text-thm2"></i> Help </a></li>
  						</ul>
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="welcm-ht text-center">
  						<ul class="list-inline ulockd-mrgn1215">
  							<li>
  								
  								<div class="dropdown lang-button text-center">
									<button class="dropbtn"><i class="fab fa-facebook color-fb"></i></button>
									<div class="dropdown-content dropdown-content-fb fb-link">
									    <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"> <span><img src="{% static 'img/iconssocial/fb32x32.png'%}" alt=""></span> {% trans "Share"%}</a>
									    <!-- <a href="#"> <span><i class="fab fa-facebook-square fa-2x color-fb"></i></span> Fren</a> -->
                                       {% if instance.social_account_urls.facebookurl %}
									    <a href="{{instance.social_account_urls.facebookurl}}"> <span><img src="{% static 'img/iconssocial/fb32x32.png'%}" alt=""></span>{% trans "Visit"%} </a>
									   {% endif %}
									</div>
								</div>
                 		</li>
                 			
             			 

  							</li>
  							<li>
  								<div class="dropdown lang-button text-center">
									<button class="dropbtn"><i class="fab fa-linkedin color-lnkdn"></i></button>
									<div class="dropdown-content dropdown-content-fb li-link">
									    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title=dr.%20{{instance.name}}%20{{instance.surname}}&summary={{instance.adress|urlify}}&source=LinkedIn"> 


									    

									    	<span><img src="{% static 'img/iconssocial/linkedin32x32.png'%}" alt=""></span> {% trans "Share"%}</a>
									    {% if instance.social_account_urls.linkedinurl %}
									    <a href="{{instance.social_account_urls.linkedinurl}}"> <span><img src="{% static 'img/iconssocial/linkedin32x32.png'%}" alt=""></span>{% trans "Visit"%}</a>
									     {% endif %}
									</div>
								</div>
  							</li>
  							<li>
  								<div class="dropdown lang-button text-center">
									<button class="dropbtn"><i class="fab fa-twitter color-twtr"></i></button>
									<div class="dropdown-content dropdown-content-fb tw-link">
									    <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri}}&text={{sharestring}}">
									    	

									     

									    	<span><img src="{% static 'img/iconssocial/twitter32x32.png'%}" alt=""></span> {% trans "Share"%}</a>
									    {% if instance.social_account_urls.twitterurl  %}
									    <a href="{{instance.social_account_urls.twitterurl }}"> <span><img src="{% static 'img/iconssocial/twitter32x32.png'%}" alt=""></span>{% trans "Visit"%}</a>
									    {% endif %}
									</div>
								</div>	

  							</li>

  							<li>
  								<div class="dropdown lang-button text-center">
									<button class="dropbtn"><i class="fab fa-pinterest color-pint"></i></button>
									<div class="dropdown-content dropdown-content-fb pin-link">
									    <a href="//pinterest.com/pin/create/link/?url={{request.build_absolute_uri}}&media={% if instance.imagehome2 %}http://127.0.0.1:8000{{instance.imagehome2.url}}{% else %}{% static 'medicaltemplate/images/home/h22.jpg'%}{% endif %}&description={{sharestring}}"> <span><img src="{% static 'img/iconssocial/pinterest32x32.png'%}" alt=""></span> {% trans "Share"%}</a>
									    {% if instance.social_account_urls.pinteresturl  %}
									    <a href="{{instance.social_account_urls.pinteresturl}}"> <span><img src="{% static 'img/iconssocial/pinterest32x32.png'%}" alt=""></span> {% trans "Visit"%}</a>
									    {% endif %}
									</div>
								</div>
  							</li>
  							{% if instance.social_account_urls.instagramurl %}
  							<li><a href="{{instance.social_account_urls.instagramurl}}"><i class="fab fa-instagram color-inst"></i></a>

  							</li>
  							{% endif %}
  							<li>
  								<div class="dropdown lang-button text-center">
									<button class="dropbtn"><i class="fab fa-vk color-green"></i></button>
									<div class="dropdown-content dropdown-content-fb fb-link">
									    <a href="http://vk.com/share.php?url={{request.build_absolute_uri}}"> <span><img src="{% static 'img/iconssocial/vk32x32.png'%}" alt=""></span> {% trans "Share"%}</a>
									    {% if instance.social_account_urls.vk %}
									    <a href="{{instance.social_account_urls.vk}}"> <span><img src="{% static 'img/iconssocial/vk32x32.png'%}" alt=""></span> {% trans "Visit"%}</a>
									   {% endif %}
									</div>
								</div>
  							</li>
  							{% if instance.social_account_urls.youtubeurl %}
  							<li><a href="{{instance.social_account_urls.youtubeurl}}"><i class="fab fa-youtube color-utube"></i></a></li>
  							{% endif %}
  							
  							<li><div class="dropdown lang-button text-center">
									<button class="dropbtn"><i class="fab fa-stumbleupon color-stumble "></i></button>
									<div class="dropdown-content dropdown-content-fb stumble-link">
									    <a href="https://www.facebook.com/sharer/sharer.php?u={{instance.get_absolute_url}}"> <span><img src="{% static 'img/iconssocial/stumble32x32.png'%}" alt=""></span> {% trans "Share"%}</a>
									    {% if instance.social_account_urls.behanceurl%}
									    <a href="{{instance.social_account_urls.behanceurl}}"> <span><img src="{% static 'img/iconssocial/stumble32x32.png'%}" alt=""></span> {% trans "Visit"%}</a>
									   {% endif %}
									</div>
								</div></li>
							{% if instance.social_account_urls.whatsupnumber%}	
  							<li><a href="https://wa.me/{{instance.social_account_urls.whatsupnumber}}"><i class="fab fa-whatsapp color-green"></i></a></li>
  							{% endif %}
  						</ul>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="welcm-ht text-right ulockd-mrgn1215">
						<ul class="list-inline">
							<li>
								 {% get_current_language as LANGUAGE_CODE %}
                              {% get_available_languages as LANGUAGES %}
                              {% get_language_info_list for LANGUAGES as languages %}
								<div class="dropdown lang-button text-center">
									
									<button class="dropbtn"><i class="fa fa-globe text-thm2"></i> Lang</button>
									<div class="dropdown-content">
										 {% for language in languages %}
					                       <a class="" href="{% url "set_language_from_url" user_language=language.code url_name=request.get_full_path %}">

					                                      {% if language.code == LANGUAGE_CODE %} --> {% endif %}
					                                      {{ language.name_local|title }} ({{ language.code }})
					                       </a>           
                              {% endfor %}
									    
									</div>
								</div>
							</li>
							<li>{%  if request.user.is_authenticated %}
									{%  if request.user.userdetails.occupancy != "Doctor" %}
									 <div class=" sign-doctor-link">
										<a style="background-color: #00b3ff;
												    border-radius: 4px 4px 4px 4px;
												    color: #f9f9f9;padding:3px;" 
												    href="{% url 'user_details' %}">
												{% trans "Are you a doctor?"%}
									   	</a> 
									</div>
									 
									{% else %}
										
										<div class="dropdown lang-button text-center">
											<button class="dropbtn"><i class="fa fa fa-user text-thm2"></i> {{user}} </button>
											<div class="dropdown-content dropdown-content_wide">
																	   <a href="{% url 'user_details' %}">{% trans "My profile" %}</a>
								                <a href="{% url 'user_details_web' %}">{% trans "Web page settings" %}</a>
								                <a href="{% url 'user_detail_extra' %}">{% trans "Accepted patients"  %}</a>
								                <a href="{% url 'user_detail_package' %}">{% trans "Package/discounts offers"  %}</a>
								                
								                
								                <a href="{% url 'dataadd:myarticle' %}">{% trans "My posts" %}</a>
								                
								                <!-- <a href="{% url 'chat:chatpage' %}">My posts</a> -->
								                <!-- <a href="{% url 'inbox' %}">Inbox  <span class="glyphicon glyphicon-envelope" style="display: none" id="unread-count"></span></a> -->
								                <a href="{% url 'dataadd:complain' %}" class=" " > {% trans "New article"  %}</a> 
								                <a href="{% url 'account_logout'%}"><span style=" background-color: #fad5e1;
										    		border-radius: 5px;
										    		padding: 3px;
										   			 margin-right: 3px;">
												{% trans "LOGOUT" %} </span>  {{user}}
												</a>
							

											</div>
										</div>
										
									{% endif %}

								{% else %}
								<a href="{% url 'account_login' %} " data-toggle="modal" data-target="" data-whatever=""><i class="fa fa-user text-thm2"></i>{% trans "Sign In " %} </a>
								{% endif %}
								

		        				
							</li>
							{%  if not  request.user.is_authenticated %}
								<li>
									 | 
								</li>
								<li>
									<a href="{% url 'account_signup'%}" data-toggle="modal" data-target="" data-whatever="@mdo"><i class="fa fa-edit text-thm2"></i> Sign Up</a>
									
							</li>
							{% else %}
								{%  if request.user.userdetails.occupancy != "Doctor" %}
								<li><a href="{% url 'account_logout'%}"><span style=" background-color: #fad5e1;
											    border-radius: 5px;
											    padding: 3px;
											    margin-right: 3px;">
									{% trans "LOGOUT" %} </span>  {{user}}
									</a>
								</li>
								{% endif %}	
							{% endif %}	
						
						</ul>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
	
	<!-- Header Styles -->
	<header class="header-nav">
		<div class="main-header-nav navbar-scrolltofixed">
			<div class="container ulockd-pdng0">
			    <nav class="navbar navbar-default bootsnav menu-style1 navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
					<!-- Start Top Search -->
			        <div class="top-search">
			            <div class="container">
			                <div class="input-group">
			                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
			                    <input type="text" class="form-control" placeholder="Search">
			                    <span class="input-group-addon close-search"><i class="fa fa-times color-white"></i></span>
			                </div>
			            </div>
			        </div>
			        <!-- End Top Search -->

			        <div class="container">
			            <!-- Start Atribute Navigation -->
			            <div class="attr-nav">
			                <ul>
			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
			                            <i class="fa fa-shopping-bag"></i>
			                            <span class="badge">3</span>
			                        </a>
			                        <ul class="dropdown-menu cart-list">
			                            <li>
			                                <a href="#" class="photo"><img src="{% static 'medicaltemplate/images/shop/s1.jpg'%}" class="cart-thumb" alt="s1.jpg" /></a>
			                                <h6><a href="#">Delica omtantur </a></h6>
			                                <p>2x - <span class="price">$99.99</span></p>
			                            </li>
			                            <li>
			                                <a href="#" class="photo"><img src="{% static 'medicaltemplate/images/shop/s2.jpg'%}" class="cart-thumb" alt="s2.jpg" /></a>
			                                <h6><a href="#">Omnes ocurreret</a></h6>
			                                <p>1x - <span class="price">$33.33</span></p>
			                            </li>
			                            <li>
			                                <a href="#" class="photo"><img src="{% static 'medicaltemplate/images/shop/s3.jpg'%}" class="cart-thumb" alt="s3.jpg" /></a>
			                                <h6><a href="#">Agam facilisis</a></h6>
			                                <p>2x - <span class="price">$99.99</span></p>
			                            </li>
			                            <li class="total">
			                                <span class="pull-right"><strong>Total</strong>: $0.00</span>
			                                <a href="#" class="btn btn-default btn-cart">Cart</a>
			                            </li>
			                        </ul>
			                    </li>
			                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
			                    <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
			                </ul>
			            </div>
			            <!-- End Atribute Navigation -->

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand ulockd-main-logo2" href="#brand">
			                    <img src="images/header-logo2.png" class="logo logo-scrolled" alt="">
			                </a>
			            </div>
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-left" data-in="fadeIn">
								<li class="active scroll"><a href="#home">Home</a></li>
								<li class="scroll"><a href="#about">About Us</a></li>
								<li class="scroll"><a href="#service">Service</a></li>
								<li class="scroll"><a href="#department">Department</a></li>
								<li class="scroll"><a href="#team">Team</a></li>
								<li class="scroll"><a href="#pricing">Price</a></li>
								<li class="scroll"><a href="#blog">Blog</a></li>
								<li class="scroll"><a href="#contact">Contact</a></li>
								<li class="scroll"><a href="#gallery">Our Galery</a></li>
			                </ul>
			            </div><!-- /.navbar-collapse -->
			        </div>

			        <!-- Start Side Menu -->
			        <div class="side ulockd-bgthm">
			            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
			            <div class="widget">
			                <h4 class="title">Page navigate</h4>
			                <ul class="link">
			                    <li><a href="#">About</a></li>
			                    <li><a href="#">Services</a></li>
			                    <li><a href="#">Blog</a></li>
			                    <li><a href="#">Portfolio</a></li>
			                    <li><a href="#">Contact</a></li>
			                    <li><a href="{% url 'newsletter:doctor_list' %}">{%  trans "Doctor list" %}</a></li>
			                    
			                </ul>
			            </div>
			            <div class="widget">
			                <h4 class="title">Additional Links</h4>
			                <ul class="link">
			                    <li><a href="#">Retina Homepage</a></li>
			                    <li><a href="#">New Page Examples</a></li>
			                    <li><a href="#">Parallax Sections</a></li>
			                    <li><a href="#">Shortcode Central</a></li>
			                    <li><a href="#">Ultimate Font Collection</a></li>
			                    <li><img title="Facebook Feed With Client File" class="img-responsive ulockd-mrgn1210" src="images/resource/image3.png" alt="image3.png"></li>
			                </ul>
							<ul class="list-inline footer-font-icon ulockd-mrgn1220">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-feed"></i></a></li>
								<li><a href="#"><i class="fa fa-google"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
			            </div>
			        </div>
			        <!-- End Side Menu -->
			    </nav>
			</div>
		</div>		
	</header>
