{% load staticfiles %}	
{%  load i18n %}

<div id="home" class="ulockd-home-slider">
		<div class="container-fluid ulockd-pdng0">
			<div class="row">
				{% if messages %}
				<ul  style="list-style: none;" class="messages slideInDown animated3s">
			    {% for message in messages %}
			   <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> 
					
						{% if message.tags == 'error' %}
							<span class="glyphicon glyphicon-warning-sign text-danger"></span>
						{% endif %}
						{% if message.tags == 'success' %}
							<span class="glyphicon glyphicon-ok text-success"></span>
						{% endif %}
					{{ message }}	
				</li>
				{% endfor %}
				</ul>
				{% endif %}	
				<div id="sg-carousel" class="carousel slide carousel-fade" data-ride="carousel">
					<!-- Carousel items -->
					<div class="carousel-inner carousel-zoom">
						 <div class="item active"><img class="img-responsive" {% if instance.imagehome1 %} src="{{instance.imagehome1.url}}" {% else %} src="{% static 'medicaltemplate/images/home/h11.jpg'%}" {% endif %}  alt="h2.jpg">
							<div class="carousel-caption style2">
								<h1 data-animation="animated zoomInLeft color-white" class="cap-txt"><span class="ulockd-bgthm">{% if instance.imagehome1Text1 %} {{ instance.imagehome1Text1}} {% else %} Good Treatment For You. {% endif %}</span></h1>
								<h2 data-animation="animated bounceInDown"><span class="bgc-white text-thm2">{% if instance.imagehome1Text2 %} {{ instance.imagehome1Text2}} {% else %} Your Health Care Solution. {% endif %}</span></h2>
								<button data-animation="animated fadeInLeft" class="btn btn-lg ulockd-btn-thm2">
								{% trans "Explore Service" %}</button>
								<button data-animation="animated fadeInRight" class="btn btn-lg ulockd-btn-styledark"> {% trans "About Us" %}</button>
							</div>
						</div>
					    <div class="item"><img class="img-responsive" {% if instance.imagehome2 %} src="{{instance.imagehome2.url}}" {% else %} src="{% static 'medicaltemplate/images/home/h22.jpg'%}" {% endif %}  alt="h2.jpg">
							<div class="carousel-caption style2">
								<h1 data-animation="animated zoomInLeft color-white" class="cap-txt"><span class="ulockd-bgthm">{% if instance.imagehome2Text1 %} {{ instance.imagehome2Text1}} {% else %} Good Treatment For You. {% endif %}</span></h1>
								<h2 data-animation="animated bounceInDown"><span class="bgc-white text-thm2">{% if instance.imagehome2Text2 %} {{ instance.imagehome2Text2}} {% else %} Your Health Care Solution. {% endif %}</span></h2>
								<button data-animation="animated fadeInLeft" class="btn btn-lg ulockd-btn-thm2">{% trans "Explore Service" %}</button>
								<button data-animation="animated fadeInRight" class="btn btn-lg ulockd-btn-styledark">{% trans "About Us" %}</button>
							</div>
						</div>
						<div class="item"><img class="img-responsive" {% if instance.imagehome3 %} src="{{instance.imagehome3.url}}" {% else %} src="{% static 'medicaltemplate/images/home/h33.jpg'%}" {% endif %} alt="h3.jpg">
							<div class="carousel-caption style3">
								<h1 data-animation="animated zoomInLeft" class="cap-txt color-white"><span class="ulockd-bgthm">{% if instance.imagehome3Text1 %} {{ instance.imagehome3Text1}} {% else %} Be Safe Be Healty {% endif %}</span></h1>
								<h2 data-animation="animated bounceInDown"><span class="bgc-white text-thm2">{% if instance.imagehome3Text2 %} {{ instance.imagehome3Text1}} {% else %} We Provide Best Medical Service. {% endif %}</span></h2>
								<button data-animation="animated bounceInUp" class="btn btn-lg ulockd-btn-thm2">
								{% trans "Get Appointment" %}</button>
							</div>
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left color-primary2" href="#sg-carousel" data-slide="prev">‹</a>
						<a class="carousel-control right color-primary2" href="#sg-carousel" data-slide="next">›</a>
					</div> 
				</div>
			</div>
		</div>
	</div>

	<!-- Our Feature Service-->
	<section class="ulockd-divider bgc-whitef8">
		<div class="container">
			<div class="row">
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-2 ulockd-pdng0">
					<div class="feature-box2 ulockd-mrgn12-100 ulockd-bgthm">
						<div class="details">
							<h3>{% trans "Appointment." %} </h3>
							<p>{% trans "Which problem you faced on your health? Call or mail us and make an appointment with our expert who can solved your problem." %}</p>
							<a href="#package_view" data-toggle="modal" class="btn btn-md ulockd-btn-white"><span class="flaticon-hospital-call"></span>{% trans "Apointment Now" %} </a>
						</div>
					</div>
				</div>
				<!--  <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 ulockd-pdng0">
					<div class="feature-box2 ulockd-mrgn12-100 bgc-primary">
						<div class="details">
							<h3>Doctor's Schedule.</h3>
							<p>Take a look on our clinic Doctor's timetable and make an appointment with our expert which department or choosen service.</p>
							<button class="btn btn-md ulockd-btn-white"><span class="flaticon-calendar-with-a-clock-time-tools"></span> View Timetable</button>
						</div>
					</div>
				</div>  -->
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 ulockd-pdng0">
					<div class="feature-box2 ulockd-mrgn12-100 bgc-primary2">
						<div class="details">
							<h3>{% if instance.emergencycalls %}
                           {% trans "Emergency Cases." %} 
                        {% else %}   
						        {% trans "Call us" %} 
						{% endif %}	
							</h3>
							<p class="lead"><span class="{% if instance.emergencycalls %} flaticon-delivery{% endif %} color-white"></span> {{ instance.telefon}}</p>
							<p>{% if instance.emergencycalls %} {% trans "You can call us for emergency &" %}   {% endif %}  {% trans "make an appointment out of clinic." %}</p>
							<a href="#appointment_view" data-toggle="modal" class="btn btn-md ulockd-btn-white"><span class="flaticon-hospital-call"></span> {% trans "Apointment Now" %}</a>
						</div>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 ulockd-pdng0">
					<div class="feature-box2 ulockd-mrgn12-100 bgc-darkblue">
						<h3><span class="flaticon-passage-of-time color-white icon"></span>{% trans "Opening Hour" %} </h3>
						<ul class="list-group">
							{% for k,v in timedict.items %}
							<!-- napravljeno u modelu i predano preko viewa -->
							 <li><strong>
							 	{% for day in v.days %} <!-- tako da se uzme iz liste i makne [] -->
							 	{{day}},
							 		{% if  forloop.counter|divisibleby:2  %}
							 		<br>
							 		{% endif %}
							 	{% endfor %}
							 	</strong>
							 : <span class="pull-right"> {{v.time}}</span>

							</li>
							 
							{% endfor %}
							
							
						</ul>
					</div>
				</div>
			</div>
					
			<!-- Product Popup View Start-->
			{% include 'modal_appoitment_django.html' %}
			{% include 'modal_package.html' %}
			
			<!-- Product Popup View End-->
		</div>
	</section>