{% load staticfiles %}
<section id="pricing" class="our-pricing ulockd_bgp4">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<div class="ulockd-main-title">
						<h2 class="mt-separator">Our <span class="text-thm2">Pricing</span></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
		            <div class="pricing_table">
		                <div class="pricing_table_header ulockd-bgthm">
		                    <h3 class="title">Basic</h3>
		                    <span class="price-value">$10 <span class="month">per month</span></span>
		                </div>
		                <div class="pricing-content">
		                    <ul>
			                	<li>Routine checkup</li>
			                	<li>24h Assisance</li>
			                	<li>Emergency Support</li>
			                	<li><del>Nutrional Plan: Yes</del></li>
			                	<li><del>100 Tests & Treatments</del></li>
			                	<li><del>Home Visits</del></li>
			                	<li>Emergency calls</li>
		                    </ul>
		                    <div class="pricing_table_signup">
		                        <a href="#">Select Package<i class="fa fa-arrow-circle-o-right"></i></a>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
		            <div class="pricing_table">
		                <div class="pricing_table_header ulockd-bgthm">
		                    <h3 class="title">Standard</h3>
		                    <span class="price-value">$20 <span class="month">per month</span></span>
		                </div>
		                <div class="pricing-content">
		                    <ul>
			                	<li>Routine checkup</li>
			                	<li>24h Assisance</li>
			                	<li>Emergency Support</li>
			                	<li>Nutrional Plan: Yes</li>
			                	<li><del>100 Tests & Treatments</del></li>
			                	<li><del>Home Visits</del></li>
			                	<li>Emergency calls</li>
		                    </ul>
		                    <div class="pricing_table_signup">
		                        <a href="#">Select Package<i class="fa fa-arrow-circle-o-right"></i></a>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
		            <div class="pricing_table">
		                <div class="pricing_table_header ulockd-bgthm">
		                    <h3 class="title">PREMIUM</h3>
		                    <span class="price-value">$30 <span class="month">per month</span></span>
		                </div>
		                <div class="pricing-content">
		                    <ul>
			                	<li>Routine checkup</li>
			                	<li>24h Assisance</li>
			                	<li>Emergency Support</li>
			                	<li>Nutrional Plan: Yes</li>
			                	<li>100 Tests & Treatments</li>
			                	<li>Home Visits</li>
			                	<li>Emergency calls</li>
		                    </ul>
		                    <div class="pricing_table_signup">
		                        <a href="#">Select Package<i class="fa fa-arrow-circle-o-right"></i></a>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</section>