{%  load i18n %}
<div class="side ulockd-bgthm pointer-auto">
			            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
			            <div class="widget">
			                <h4 class="title">Page navigate</h4>
			                <ul class="link">
			                    <li><a href="/">Home</a></li>
			                    <li><a href="{% url 'dataadd:complain_list' %}">{%  trans "Articles" %}</a></li>
			                    <li><a href="{% url 'newsletter:discount_list' %}">{%  trans "Package/Discount list" %}</a></li>
			                    <li><a href="{% url 'newsletter:doctor_list' %}">{%  trans "Doctor list" %}</a></li>
			                    
			                </ul>
			            </div>
			            <div class="widget">
			                <h4 class="title">Additional Links</h4>
			                <ul class="link">
			                    <li><a href="{% url 'landingfordoctors' %}">For doctors</a></li>
			                    <li><a href="{% url 'library' %}">My Bought items</a></li>
			                    <li><a href="{% url 'products:list' %}">{%  trans "Products" %}</a></li>
			                    
			                </ul>
							<ul class="list-inline footer-font-icon ulockd-mrgn1220">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-feed"></i></a></li>
								<li><a href="#"><i class="fa fa-google"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
			            </div>
			        </div>