{% load staticfiles %}

<section id="service" class="our-service bgc-snowshade">
		<div class="container">
			<div class="row ">
				<div class="col-md-6 col-md-offset-3 text-center">
					<div class="ulockd-main-title ">
						<h2 class="mt-separator">Our <span class="text-thm2">Service</span></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row equal">
					
				
		 {% include 'service_list_pag.html' %}


				
			</div><!-- row end -->
		</div>
	</section>

