{%  load i18n %}
<div class="row">
				<div class="col-xxs-12 col-xs-4 col-sm-4 col-md-4">
					<div class="mail-widget text-center">
						<span class="icon fa fa-envelope"></span>
						<h3>Mail Us</h3>
						<p>support@traveldoctor.mx</p>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-4 col-sm-4 col-md-4">
					<div class="call-widget text-center">
						<span class="icon fa fa-phone"></span>
						<h3>Call Us</h3>
						<p>+52 2225050740</p>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-4 col-sm-4 col-md-4">
					<div class="location-widget text-center">
						<span class="icon fa fa-map-signs"></span>
						<h3>Find Us</h3>
						<p>Ignacio Allende 408,Reserva Territorial Atlixcáyotl, Concepción Guadalupe
                    <br>72820 Puebla</p>
					</div>
				</div>
			</div>