{%  load i18n %}
<div class="link-widget">						
						<h3>{% trans "Important Link"%}</h3>
						<ul class="list-style-square">

                   
							<li><a class="text-primary" href="{% url 'landingfordoctors' %}">{% trans "For Doctors"%}</a></li>
							
							<li><a class="text-primary" href="{% url 'helpfordoctors' %}"> FAQ</a></li>
							<li><a class="text-primary" href="{% url 'termsconditions' %}">{% trans "Terms&Conditions"%} </a></li>
							<li><a class="text-primary" href="{% url 'privacy' %}">{% trans "Privacy policy"%} </a></li>
							
						</ul>
					</div>