{% load staticfiles %}
{%  load i18n %}
<div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
					<div class="font-icon-social text-center">
						<ul class="list-inline footer-font-icon">
							<li><a href="https://www.facebook.com/traveldoctor.mx"><i class="fab fa-facebook"></i></a></li>
							
							<li><a href="https://twitter.com/TraveldoctorM"><i class="fab fa-twitter "></i></a></li>
							
							<li><a href="https://www.instagram.com/traveldoctor.mx/"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>