{% load el_pagination_tags %}
{%  load i18n %}

{% lazy_paginate 3,6 package_list using "package-page" %} <!-- lazy paginate loads faster final number of objects is unknown -->
      
                  
   {% for entry in package_list %}
			    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 space_top pricing_table">
		            <div class="wrap-package">
		                <div class="pricing_table_header ulockd-bgthm">
		                    <h3 class="title"> {% trans "Package" %} <big>{%  if entry.name  %}{{ entry.name  }} 

		                    {% else %}{{forloop.counter }}{% endif%}</big></h3>
		                    <span class="price-value"> {% trans "Only" %} {{entry.packagepricediscount}}$ </span>
		                </div>
		                
		                <div class="pricing-content">
		                    <ul>
			                	{% for list in entry.get_service_list %}
			                         
			                    	<li>{{list}}</li>
			              		{% endfor %} 
			                	
		                    </ul>
		                 
		                </div>
		                <div class="pricing-content">
		                    
		                 <div class="pricing_table_signup">
		                        <a href="{{entry.get_absolute_url}}" data-toggle="modal">{% trans " View Package" %}<i class="fas fa-arrow-alt-circle-right"></i></a>
		                       
		                    </div>   
		                </div>
		            </div>
		        </div>
                 

			                  
			                   
			    {% endfor %}
   {% show_more "More results" %}  
  
       
            
    
   
  




