{% load el_pagination_tags %}
{%  load i18n %}
{%  paginate 3,6 service_list_all using "service-page" %} <!-- lazy paginate loads faster final number of objects is unknown -->
      
                  
    {% for entry in service_list_all %}
              
              <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class=" wrap-article">
                  <div  style=" display: flex; height: 100%;" class="  icon-box icon-left bgc-white ulockd-mrgn1250">
                    <div class="icon"><span class="{{entry.flavicon}} text-thm2"></span></div>
                      <div class="details">
                        <h4>{{entry.servicename}}</h4>
                        <p>{% if entry.servicetext  %} {{entry.servicetext}} {% else %} {% trans "Check out our service" %}{% endif %} <a class="text-thm2" href="{% if entry.weburl  %}{{entry.weburl}}{% else %}#{% endif%}"> {% trans "More about service..." %} </a></p>
                      </div>
                  </div>
                </div>  
            </div>
          {% endfor %}
   
  
       
   {% show_more  %}  

       
            
    
   
  




