{% extends "base_article.html" %}
{% load crispy_forms_tags %}
{%  load i18n %}
{% load staticfiles %}

{% block head_extra  %} 
<link href="{% static 'css/MiddleContent.css'%}" rel="stylesheet">
{% endblock head_extra  %}
{% block content %}

<!-- {% if title %}

<div class='row'>
	<div class='col-sm-10 col-sm-offset-2   ' >
	<h1 class="text-align-center title-detail" style="    border-top: 6px solid #84550d;;">{{title}}<h1>
	</div>	
	
</div>
{% endif %} -->

<div class='row'>
	<div class='col-sm-9   ' >
	

	
	<!--  -->
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	
	<hr/>
	

	{% if instance.image %}
	<img src='{{instance.image.url}}' class='img-responsive'>
	 {% endif %} 
	<h1 class="punch-title"> {{instance.company_name|title }} <small style="float:right;margin-bottom:2px;">Published on: {{ instance.publish }}</small><br> 
	<small style="float:right;margin-bottom:2px;"> Updated  on: {{ instance.updated|date }}</small> </h1><br> 
	<p> Read time : {% if instance.read_time|time:"i" <= "01" %} < 1 minute {% elif instance.read_time|time:"i" < "10" %} < 10 minutes {% else %} {{instance.read_time|time:"i"}}minutes{% endif %}</p>

	<div class=" content-punch  post-detail-item" style="    background: white;padding: 8px;text-align: justify;">{{ instance.get_markdown}}<br> </div>
	<br> 
	

	  <div class="input-group" style="margin: 5px;"">
	  	<span class="input-group-btn content-punch" style="font: normal 16px 'Cookie'; ">{% trans "Author " %}: 
        
	   </span> 
		  <span class="input-group-btn"  style="font: normal 16px 'Cookie', cursive; float:left;"> {{instance.get_user_name|title}} {{instance.get_user_surname|title}}&nbsp   
        
	   </span> 
	   <!-- {% if request.user.is_authenticated %}
	   {% include 'profiles/snippet/follow-form.html' with username=instance.user slug=slug  %}
	  	{% else %}
		<p><i>Login to follow</i></p>
		{% endif %} -->
	</div> 
	

	
	 <a href="{% url 'dataadd:complain_list' %}" class=" btn button-create"> {% trans " All articles"  %}</a> 
	
    {% ifequal instance.user user %}
	<a href="{{instance.get_absolute_url_delete}}" class=" btn button-delete"> {% trans " Delete"  %} </a> 
	<a href="./edit/" class=" btn button-edit"> {% trans " Edit"  %} </a> 
    {% endifequal %}
    </div>
    <div  style="margin-bottom: 1em;" class='col-sm-3 ' >
    	<hr/>
    	<h4>
    	{% trans "Other" %} {{instance.get_user_name|title}} {{instance.get_user_surname|title}} {% trans "articles" %}  </h4>
    	{% for article in otherarticles   %}
             		<article style="background-color: #fdfafa;border-top:1px; border-style: outset;" class="blog-post wrap-article">
						<div class="post-thumb post-thumb-max ">
							
							<div class="post_date ulockd-bgthm"><span class="fa fa-calendar"></span> {{ article.publish }}</div>
						</div>
						<div class="bp-details">
							<h3 class="post-title">{{article.company_name|title}}</h3>
							<ul class="list-inline">
								<li><span class="icon-Administrator text-thm2">{{article.user|title}}</span> </li>
								<li><span class="icon-Speach-Bubble2 text-thm2"></span>{{article.commentscount}}  {% trans " Comment" %}</li>
								<!-- <li><span class="icon-Heart text-thm2"></span> 62</li> -->
							</ul>
							<p>{{article.get_markdown|truncatewords_html:10}}</p>
							<a href="{{article.get_absolute_url}}"><button type="submit" class="btn btn-md ulockd-btn-thm2">{% trans "Read More" %}</button></a>
						</div>
					</article>
				   

    	{% endfor %}
     </div>	
    	
</div>

<div class='row'>
	<div class='col-sm-8 col-sm-offset-2  ' style="padding: 0;" >
     	
     	<p class='lead lead-comment'>{% trans " Comments" %}</p>
    </div>
	<div class='col-sm-8 col-sm-offset-2  ' >
     	
     	
        <p class='commentdisclaimer '>{% trans "Opinions expressed on this web site are those of the authors alone and do not have anything with punchlist.com.Any comments that contain profanity, vulgarity, threats, commercial promotion, incoherence  will be immediately deleted and sent to service of the relevant public institution" %}  </p>
     	{% if request.user.is_authenticated %}
     	<form method='POST' action='.' >{% csrf_token %}
			<!-- methoda je po defaultu get -->
		<!-- {{ form.as_p}} -->
		{{comment_form|crispy}}

		<!-- form as parameter  -->
		<input class="btn btn-primary float-right" type ='submit' value =" Submit"/> 
		{% else %}
		<a class="btn btn-primary float-right" href="{% url 'account_login' %}"> {% trans " LOGIN TO COMMENT "%} <span class=""></span> </a>
		{% endif %}
		</form class="test">
     	{% for comment in comments %}
     		
     			<!-- { #{# comment.content_object#} #}  --><!-- get object trough foreign key   -->
     		
                
	     			<blockquote class="blackqoute-margin">
	     			<footer class="test1"><small>by {{comment.user}} | {{comment.timestamp|timesince}} ago |{% if comment.children.count > 0 %}{{ comment.children.count}} Comments |{% endif %}<a  class="comment-reply-btn " href="#">Reply</a>{% ifequal instance.user user %}|<a  class="" href="{{comment.get_absolute_url_delete  }}">Delete</a>{% endifequal %}</small></footer>
				  	<p class="triangle-isosceles top">{{comment.content}}</p>
				 	
					<div class="comment-reply">	
					 	{% for child_comment in comment.children %}
						 	<blockquote>
						  	<p class="triangle-right ">{{child_comment.content}}</p>
						 	<footer><small>by {{child_comment.user}} | {{child_comment.timestamp|timesince}} ago {% ifequal instance.user user %}|<a  class="" href="{{child_comment.get_absolute_url_delete  }}">{% trans "Delete" %}</a>{% endifequal %}</small>

						 		{{child_comment.user}}
						 		{{child_comment.id}}
						 	</footer>
						 	</blockquote>
						 {% endfor %}
				        <form method='POST' action='.' >{% csrf_token %}
								
							{{comment_form|crispy}}
							<input type='hidden' name='parent_id' value='{{ comment.id}}'>

							{% if request.user.is_authenticated %}
				              <input class="btn btn-primary float-right" type ='submit' value =" Reply"/>
				              {% else %}
				               <a class="btn btn-primary float-right" href="{% url 'account_login' %}"> {% trans " LOGIN TO REPLY "%} <span class=""></span> </a>
				            {% endif %}

	                    </form>   
	                </div>    
				</blockquote>
				
     		<hr/>


     	{% endfor %}

     	<!-- <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div> -->

	</div>

</div>
</div>



{% endblock %}

{%  block script %}
<script>
 $(document).ready(function(){
      

        $(".textarea").attr("placeholder", "Add public comment ...");
        $(".textarea").css('height', '4em');


        var ContentItem = $(".post-detail-item");
         console.log(ContentItem)
         var ContentItem1 = $(".post-detail-item").text();
         console.log(ContentItem1)
         $(".comment-reply-btn").click(function(event){
             /*console.log("nesto")*/
            event.preventDefault();
            $(this).parent().parent().next().next(".comment-reply").fadeToggle();
           
           /* var name=$(this).parents('.blackqoute-margin').parent().next(".comment-reply");
            alert($(this).parent().parent().prop("className"));*/
            })  



    })

   </script>
{% endblock %}