<div class="container-fluid  footer-links footer-wrap">
            
                <div class="col-md-4   ">

                    <h3>by<span>Drive Specialist</span></h3>
                    <ul >
                    
                        <li class="links-left "><a href="#">Home</a></li>
                        
                     
                        
                       <li class="links-left"> <a href="pricing-en.html">Pricing</a></li>
                        
                       <li class="links-left"> <a href="about-en.html">About</a></li>
                      
                       <li class="links-left"> <a href="FAQ-advertise-en.html">Faq advertising</a></li>

                       <li class="links-left"> <a href="FAQ-users-en.html">Faq Users</a></li>
                        
                       <li class="links-left"> <a href="contact-en.html">Contact</a></li>
                    
                    </ul>
                    <p class="footer-company-name">Darko development &copy; 2016</p>
                    <p class="footer-company-name">Page under development</p>

                </div>

                <div class="col-md-4 footer-center">

                    <ul class="list-inline">
                    
                    <li class="text-middle-naslov">VISIT US ON  </li>
                </ul>
                <ul style="list-style-type:none">
                    <li><a href=" https://vk.com/public70562613"><i class="fa fa-vk"></i> visit us on vk</a></li>
                    
                    
                    
                    <li><a href=" "><i class="fa fa-facebook"></i> visit us on facebook</a></li>
                    
                

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:baal130@gmail.com">baal130@gmail.com</a></p>
                    </div>
                 </ul>
                </div>
                
                <div class="col-md-4">

                    <p class="footer-company-about">
                        <span>About punch-list.com</span>
                        This web site is for anyone who whas tricked od deceived by someone and want to not this to happen to someone else.

                    </p>

                    <div class="share-icons">
                        <p style= "text-align:left;color: white;padding: 5px;" > <span  >LIKE US </span></p>
                        <div class="fb-like" data-href="http://khorvatiya-online.ru/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="overflow:hiden">
                         <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fkhorvatiya-online.ru%2F&width=450&layout=standard&action=like&show_faces=true&share=false&height=20&appId=580294738802228" width="300" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe> 

                        </div>

                        <div id="vk_like"></div>
                         <script type="text/javascript">
                         VK.Widgets.Like("vk_like", {type: "button"});
                         </script>  
                        
                         
                    </div>

                     <div class="share-icons">
                           <p style= "text-align:left;color: white;padding: 5px;" > <span  >SHARE</span></p>

                           <div class="fb-share-button social-wrap" data-href="http://khorvatiya-online.ru/" data-layout="button" data-mobile-iframe="true">
                           <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fkhorvatiya-online.ru%2F&layout=button&mobile_iframe=true&appId=580294738802228&width=66&height=20" width="66" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                           </div>
                           <div  class=" fb-share-button social-wrap">
                           <script type="text/javascript">
                            

                            document.write(VK.Share.button({url: 'http://khorvatiya-online.ru/'}, {type: 'custom', text: '<img src="vk32_new.png" />'}));
                            </script>
                            </div>

                          
                              

                         </div>


                    <div class="share-icons">

                       <p style= "text-align:left;color: white;padding: 5px;" > <span  >FOLLOW US</span></p>
                       <div class="fb-follow" data-href="https://www.facebook.com/profile.php?id=1192117142&amp;fref=ts" data-layout="standard" data-show-faces="true">
                       <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D1192117142%26fref%3Dts&width=150&height=25&layout=standard&show_faces=true&appId" width="300" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                       </div>
                        <!-- VK Widget -->
                        <div id="vk_subscribe"></div>
                        <script type="text/javascript">
                        VK.Widgets.Subscribe("vk_subscribe", {}, -70562613);
                        </script>

                    
                    </div>

                </div>
