


   

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarcollapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  id="navbar" class="navbar-brand page-scroll" href="#page-top">Punch list</a>
        </div>
        <div id="navbarcollapse"  class="navbar-collapse collapse">
          <ul  id="nav" class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li> <!--according name in url.py  -->
            <li><a href="/contact">Contact</a></li><!--hardcoded  -->
            <li><a href="{% url 'dataadd:complain_list' %}">Complain List</a></li><!--hardcoded  -->
             <li class="dropdown"> 
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'user_details' %}">User Details</a></li>
                <li><a href="{% url 'dataadd:myarticle' %}">My posts</a></li>
                
                <li><a href="{% url 'chat:chatpage' %}">My posts</a></li>
                <li><a href="{% url 'inbox' %}">Inbox  <span class="glyphicon glyphicon-envelope" style="display: none" id="unread-count"></span></a></li>
              </ul>
            </li> 
          </ul>
           <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> 
          </ul> -->

                    <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'account_logout'%}">LOGOUT {{user}}</a></li>
            {% else %}
            <!-- <li ><a href="{% url 'auth_login'%}">LOGIN </a></li> -->
            <li ><a href="{% url 'account_signup'%}">REGISTER </a></li>
            {% endif %}
          </ul>
            {% if not  request.user.is_authenticated  and not "/accounts/login" in request.get_full_path%}
          <form class='navbar-form navbar-right' method='POST' action='{% url "account_login" %}'>{% csrf_token %}
            <div class='form-group'>
              <input type='text' class='form-control' name='username' placeholder ='username'>
            </div>
            <div class='form-group'>
               <input type='password' class='form-control' name='password' placeholder ='password'>
            </div>
            <button type='submit' class=' btn btn-default'>Login </button>
          </form>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>