 {% load i18n %}


 <div class="panel-group" id="accordion">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-th">
                            </span>{% trans "My Packages" %}</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                {% for objects in package_list %}
                                    <tr>
                                    <td>
                                        <a href="{%   url 'newsletter:user_detail_package_update'  pk=objects.pk  %}" class="btn button-edit button-full-width"> {% trans "Edit Package" %} <br> {% if objects.name %}  {{objects.name }} {% else %} {{objects.id }} {%  endif %} </a>
                                    </td>
                                </tr>

                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-folder-close">
                            </span>{% trans "Content" %}</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="{% url 'dataadd:myarticle' %}">{% trans "My articles" %}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="{% url 'dataadd:complain' %}">{% trans "New article" %}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="{{instance.get_absolute_url}}">{% trans "View my web page " %}</a>
                                    </td>
                                </tr>
                               
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-th">
                            </span>{% trans "Web module" %}</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="{% url 'user_details_web' %}">{% trans "Web home page" %}</a> 
                                    </td>
                                </tr>
                              
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-user">
                            </span>{% trans "Account" %}</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                
                                <tr>
                                    <td>
                                        <a href="{% url 'user_details' %}">{% trans "Profile" %}</a> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'user_detail_worktime' %}">{% trans "Working time" %}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'user_detail_extra' %}">{% trans "Accepted patients" %}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'user_detail_price' %}">{% trans "Service price" %}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'user_detail_package' %}">{% trans "Package/Special deals" %}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'user_detail_social' %}">{% trans "Social networks" %}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="text-danger" href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        