{% extends "base_doctor_userdetail.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

 


{% block extra_js %}
{{ form.media.js }}


{% endblock %}
{% block style %}
 .fix-width{
 width:100%;
}

 {% endblock %}
{% block content %}

{% if title %}
{% endif %}
<div class='row'>
	<div class='col-sm-8 border-title-curve col-sm-offset-3 '  >
	<h1>{% trans  'Fill out form with your information'  %}</h1>

	</div>
</div>
	<div  class='col-sm-5 navbar-collapse collapse fixed-side ' id="navbar-menu" data-in="fadeIn" > 
	{% include 'sidebar.html' %}
	
    </div>



<div classs ='row'>


	<div class='col-sm-6 col-sm-offset-1 form-bg' style="border-radius:8px; margin-bottom: 200px;">  
	<p class=" label-form-user label-info">{% trans  'It is important to fill your profile for best experience of patients. ' %}</p>	
	<form method='POST' action=''  enctype='multipart/form-data'>{% csrf_token %}

	{{form|crispy}}

	<input  style="margin-bottom:5px;" class="btn btn-primary" type ='submit' value =" Submit"/> 
	<p class=" label-form-user label-info">{% trans  '-->NOTE:Identification is used only for administration and after user is verified profile will be public ' %}</p>	



	</form>
	</div>
</div>





</div>
</div>

{% endblock %}

{%  block script %}


{% endblock %}