{% extends "base_doctor_userdetail.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}


<!--  -->

<div class='row'>
	<div class='col-sm-8 border-title-curve col-sm-offset-3 '  >
	<h1>{% trans  'Add links to your social accounts '  %}</h1>

	</div>
</div>



<div classs ='row'>
	<div  class='col-sm-3 navbar-collapse collapse fixed-side' id="navbar-menu" data-in="fadeIn" > 
	{% include 'sidebar.html' %}
	
    </div>
	<div class='col-sm-6 col-sm-offset-4 form-bg' style="border-radius:8px; margin-bottom: 200px;">
		<p class=" label-form-user label-info">{% trans  'Show your experience trought social networsk ' %}
		{% trans  'Remember that patients seeking a specialist want to have as much information as possible to make a decision. ' %}
		</p>	
	

		<form method='POST' action=''  enctype='multipart/form-data'>{% csrf_token %}
		 
		{{form|crispy}}

		<input class="btn btn-primary" type ='submit' value ="Submit"/> 

		</form>
	</div>
</div>







</div>
</div>

{% endblock %}