{% load staticfiles %}
{%  load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<section class="form cid-s5zlDxQ5xp" id="extForm24-1f">
   
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mx-auto mbr-form" data-form-type="formoid">
                <!--Formbuilder Form-->
                <form  class="contact-ajax" action='{% url "newsletter:contact" %}' method="POST" class="mbr-form form-with-styler"  language="LANGUAGE_CODE" data-form-title="Form Name" data-endpoint='{% url "newsletter:contact"%}' >{% csrf_token %}
                    <input type="hidden" name="email" data-form-email="true" >
                    <div class="form-row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <div class="form-row">
                                <div class="col" data-for="nameFirst">
                                    <span class="mbr-iconfont mobi-mbri-user-2 mobi-mbri" for="nameFirst-extForm24-1f"></span>
                                    <input type="text" name="nameFirst" placeholder="{% trans "First Name" %}" data-form-field="nameFirst" class="form-control text-multiple" value="" id="nameFirst-extForm24-1f">
                                </div>
                                <div class="col" data-for="nameLast">
                                    <span class="mbr-iconfont mobi-mbri-user-2 mobi-mbri" for="nameLast-extForm24-1f"></span>
                                    <input type="text" name="nameLast" placeholder="{% trans "Last Name" %}" data-form-field="nameLast" class="form-control text-multiple" value="" id="nameLast-extForm24-1f">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group" data-for="email">
                            <span class="mbr-iconfont mobi-mbri-letter mobi-mbri" for="email-extForm24-1f"></span>
                            <input type="email" name="email" placeholder="{% trans "Email" %}" data-form-field="email" class="form-control display-7" value="" id="email-extForm24-1f">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group" style="" data-for="phone">
                            <span class="mbr-iconfont mobi-mbri-phone mobi-mbri" for="phone-extForm24-1f"></span>
                            <input type="tel" name="phone" placeholder="{% trans "Phone" %}" data-form-field="phone" class="form-control display-7" value="" id="phone-extForm24-1f">
                        </div>
                        <div data-for="subject" class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri" for="subject-extForm24-1f"></span>
                            <input type="text" name="subject" placeholder="{% trans "Subject" %}" data-form-field="subject" class="form-control display-7" value="" id="subject-extForm24-1f">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="message">
                            <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri" for="message-extForm24-1f"></span>
                            <textarea name="message" placeholder="{% trans "Message" %}" data-form-field="message" class="form-control display-7" id="message-extForm24-1f"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="how" style="">
                            <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri" for="how-extForm24-1f"></span>
                            <input type="text" name="how" placeholder="{% trans "How did your hear about us" %}" data-form-field="how" class="form-control display-7" value="" id="how-extForm24-1f">
                        </div>
                        <div class="col-auto m-auto mbr-section-btn"><button type="submit" class="btn btn-black display-7">{% trans "Send" %} </button></div>
                        <div class=" show-alert  col-auto m-auto mbr-section-btn"></div>
                         

                    </div>
                </form>
                <!--Formbuilder Form-->
            </div>


            <div class="col-md-12 col-lg-6">
                <div class="media-content">
                    <h1 class="mbr-section-title align-left mbr-bold mbr-black pb-3 mbr-fonts-style display-2">{% trans "Contact us"%}</h1>
                    <h3 class="mbr-section-subtitle mbr-bold align-left mbr-black mbr-light pb-3 mbr-fonts-style display-7"> {% trans "WE’D LOVE TO HEAR WHAT YOU THINK"%} </h3>
                    <div class="mbr-section-text mbr-black pb-3 ">
                        <p class="mbr-text align-left mbr-fonts-style display-7">{% trans "Contact us or use chat help for any of your questions. We can make also demo tour, for showing page possibilites"%}</p>

                        <p class="text2 pt-2 align-left mbr-fonts-style display-7"><strong>{% trans "Our Address"%} </strong><br>
                            <br>TravelDoctor
                            <br>GUILLERMO PRIETO 5
                            <br>BARRIO DE SAN LUIS 74949
                            <br>Acatlan,Hidalgo
                            <br>
                            <br>Tel:  +52 667 220 1989</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>