{% load staticfiles %}
{%  load i18n %}
<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  {% include "metastatic.html" %}
  <link rel="shortcut icon" href="{% static 'landing/assets/images/td-trans-32x32.png'%}" type="image/x-icon">
  
  
  
  <title>TravelDoctor-Privacidad</title>
  <link rel="stylesheet" href="{% static 'landing/assets/web/assets/mobirise-icons2/mobirise2.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/web/assets/mobirise-icons/mobirise-icons.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/bootstrap/css/bootstrap-grid.min.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/bootstrap/css/bootstrap-reboot.min.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/tether/tether.min.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/socicon/css/styles.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/dropdown/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/theme/css/style.css'%}">
  
  <link rel="preload" as="style" href="{% static 'landing/assets/mobirise/css/mbr-additional.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/mobirise/css/mbr-additional.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'landing/assets/animatecss/animate.min.css'%}">

  
  
  

</head>
<body>
  <section class="menu cid-s0Kd5hW5Yy" once="menu" id="menu1-20">

    
{% include "landingnavbar.html"%}
</section>

<section class="engine"></section><section class="mbr-section article extСontent cid-s9CBcRJjjU" id="extContent1-21">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style pt-5">
                
                
                
            <div class="mb-5">
                    <h4 class="counter">01.</h4>
                    <h3 class="mb-3 mbr-fonts-style display-5">{% trans "Privacy notice" %}</h3>
                    <p class="mbr-fonts-style display-7">{% trans "In compliance with the Federal Law on Protection of Personal Data Held by Individuals (hereinafter, the -Law-) and its Regulations, the Comprehensive Privacy Notice (hereinafter, the -Notice-) is presented which is addressed to ( to the) User (s) (hereinafter, the -Owner-) of the services provided by TravelDoctor.mx, SA de CV (hereinafter, indistinctly -TravelDoctor- or -Responsible-) through a digital platform (the -Platform-), accessible by mobile devices through computer applications, by desktop computers and through Internet browsers (hereinafter, the 'Service'), as well as to people who access and provide information through the Internet domain https://www.traveldoctor.mx/ in the United Mexican States ('Mexico')." %}
<br>
<br>{% trans "The information collected (hereinafter, the -Personal Data-) may be collected at the time that the -Owner- expressly consents to this -Notice-."%}
<br>
<br>{% trans "Likewise, the -Owner- is informed that all -Personal Data- will be managed in accordance with the principles of legality, consent, information, quality, purpose, loyalty, proportionality and responsibility contained in the Federal Law on Protection of Personal Data in Possession of Individuals."%}
<br>
<br>{% trans "In that sense, the -Owner- will at all times be responsible for the -Personal Data- provided to the Platform."%}
<br>
<br><br></p>
                </div><div class="mb-5">
                    <h4 class="counter">02.</h4>
                    <h3 class="mb-3 mbr-fonts-style display-5">{% trans "Definitions."%}&nbsp;</h3>
                    <p class="mbr-fonts-style display-7"><br>
<br>{% trans "In addition to the terms defined throughout this -Notice-, the terms that appear with the first letter in capital letters, within this Notice, will have the meanings assigned to them below: "%}
<br>{% trans "-Notice- .- It refers to this Comprehensive Privacy Notice, whether issued in a physical, electronic document or in any other format generated by the Responsible Party that is made available to the Owner, prior to the processing of their personal data in order to comply with the information principle. "%}
<br>{% trans "-Database- .- It is the ordered set of personal data referring to an identified or identifiable person."%} 
<br>
<br>{% trans "-Medical Centers- .- Corresponds to the type of user that is a hospital, clinic or health center where the specialist diagnoses and treats people with health problems. In general, any place where activities are carried out in the field of health, medical or paramedical services. "%}
<br>
<br>{% trans "-Computing in the Cloud- .- Model of external provision of computing services on demand, which implies the supply of infrastructure, platform or software, which are distributed in a flexible way, through virtualization procedures, in dynamically shared resources. "%}
<br>
<br>{% trans "-Cookies- .- Data file that is stored on the hard drive of the computer equipment or electronic communications device of a user when browsing a specific internet site, which allows the exchange of status information between said site and the browser of the user. The status information can reveal means of session identification, authentication or user preferences, as well as any data stored by the browser regarding the website. "%}
<br>
<br>{% trans "-Personal Data- .- Any information concerning an identified or identifiable natural person. "%}
<br>{% trans "-Sensitive Personal Data- .- Those -Personal Data- that affect the most intimate sphere of its -Owner-, or whose misuse may give rise to discrimination or entail a serious risk for it. In particular, those that may reveal aspects such as racial or ethnic origin, present and future health status, genetic information, religious, philosophical and moral beliefs, union affiliation, political opinions or sexual preference are considered sensitive. "%}
<br>
<br>{% trans "-ARCO- Rights .- The rights that the -Owner- has against the -Responsible-, in relation to their -Personal Data-, which include the following: the right to access their -Personal Data- and the details of the treatment of the same, as well as to rectify them if they are inaccurate or cancel them when it considers that they turn out to be excessive or unnecessary for the purposes that justified their obtaining or to oppose the -Treatment- of them for specific purposes. In this regard, section XI of this -Notice- will be expanded upon. "%}
<br>
<br>{% trans "-Dissociation- .- It is the procedure by which the -Personal Data- cannot be associated with the -Owner- or allow, due to its structure, content or degree of disaggregation, the identification of the same."%} 
<br>
<br>{% trans "-Responsible- .- The individual or legal entity that alone or jointly with others treats -Personal Data- on behalf of the -Responsible-. "%}
<br>
<br>{% trans "-Health Specialists- .- Corresponds to the type of user who is a professional who uses the -Website-, who is a doctor, dentist, psychologist, physiotherapist, nurse, nutritionist, therapist or other person not mentioned above, who performs activities in the field of health services and provides health, medical or paramedical services. "%}
<br>
<br>{% trans "-Guidelines- .- Guidelines of the Privacy Notice published in the Official Gazette of the Federation on January 17, 2013. "%}
<br>
<br>{% trans "-Patient- .- Corresponds to the type of user who accesses the -TravelDoctor- platform to schedule appointments with -Health Specialists- or ask questions. "%}
<br>
<br>{% trans "-Regulation- .- The Regulation of the Federal Law on Protection of Personal Data Held by Private Parties."%} 
<br>
<br>{% trans "-Responsible- .- Individual or legal entity of a private nature that carries out the processing of -Personal Data-, namely -TravelDoctor-. "%}
<br>
<br>{% trans "-Third- .- The natural or legal person, national or foreign, other than the owner or the -Responsible- of the -Personal Data-. "%}
<br>
<br>{% trans "-Owner-.- The natural person to whom the -Personal Data- correspond. "%}
<br>
<br>{% trans "-Treatment- .- The obtaining, use, disclosure or storage of -Personal Data-, by any means. The use covers any action of access, handling, use, transfer or disposition of the -Personal Data-."%}</p>
                </div><div class="mb-5">
                    <h4 class="counter">03.</h4>
                    <h3 class="mb-3 mbr-fonts-style display-5">{% trans "Responsible for the Information"%}</h3>
                    <p class="mbr-fonts-style display-7">{% trans "For the purposes of the -Notice-, as well as for all legal purposes that may arise, the -Responsible- will be TravelDoctor México, SA de CV, with address at Ignacio Allende 408,Reserva Territorial Atlixcáyotl, Concepción Guadalupe 72820 Puebla, who will carry out the -Treatment- of the -Personal Data-."%}

<br>{% trans "The -Responsible- may be assisted by one or more -Managers-, who will act in the name and on behalf of the -Responsible-, to provide a more efficient -Treatment- to the -Personal Data-. The -Managers- will be informed of the proper treatment that they must provide to the -Personal Data-."%}
<br>
<br>{% trans "The -Responsible- may also carry out the -Treatment- of the -Personal Data- using the -Cloud Computing- system, so the provider of such services will be obliged to sign the -Notice- and comply with the mechanisms of protection and security measures designed to protect the information contained in the -Personal Data-, in accordance with the -Law-, the -Regulation- and other applicable legal provisions."%}</p>
                </div><div class="mb-5">
                    <h4 class="counter">04.</h4>
                    <h3 class="mb-3 mbr-fonts-style display-5">{% trans "Information that will be collected when signing the Notice."%}</h3>
                    <p class="mbr-fonts-style display-7">{% trans "This -Notice- will be made available to the -Owner- at the time the -User- registers in the -Platform- of -TravelDoctor-. The -Owner- will provide this information, which is considered essential to be able to provide the service, at the time of creating your account and expressly signing this -Notice-, as well as at the time of modifying the information contained in your account The -Personal Data- collected for the three categories of Users are:"%}
<br>
<br>{% trans "In the case of -Patients-"%} :<br><br>{% trans "-Email address." %}
<br><br>{% trans "In the case of -Health Specialists- :"%}<br>
<br>{% trans "Name with surnames;"%}
<br>{% trans "Specialty or specialties;"%}
<br>{% trans "Specialty fields; and"%}
<br>{% trans "Email address."%}
<br><br><br>
<br>{% trans "In the case of -Health Specialists-"%}
<br>
<br>{% trans "Profile photography;"%}
<br>{% trans "Profile background photography;"%}
<br>{% trans "Photos of equipment and the venue;"%}
<br>{% trans "Videos of the facilities;"%}
<br>{% trans "Treatment;"%}
<br>{% trans "Graduate;"%}

<br>{% trans "Professional license;"%}
<br>{% trans "Academic training;"%}
<br>{% trans "Certificates;"%}
<br>{% trans "Experience and achievements;"%}
<br>{% trans "Publications;"%}
<br>{% trans "Awards and distinctions;"%}

<br>Facebook;
<br>LinkedIn;
<br>Twitter;
<br>Instagram; or
<br>Youtube.
<br>{% trans "Address of your office;"%}
<br>{% trans "Treated Diseases;"%}
<br>{% trans "Languages; and"%}
<br><br>{% trans "By virtue of the fact that numbers 1, 12 and 15 are considered as -Sensitive Personal Data- they will receive the treatment indicated in section IV. -Sensitive Personal Data-."%}</p>
                </div><div class="mb-5">
                    <h4 class="counter">05.</h4>
                    <h3 class="mb-3 mbr-fonts-style display-5">{% trans "Sensitive Personal Data."%}</h3>
                    <p class="mbr-fonts-style display-7">{% trans "-Sensitive Personal Data- are considered those -Personal Data- that affect the"%}
<br>
<br>{% trans "the most intimate sphere of its -Owner-, or whose misuse may give rise to discrimination or entail a serious risk for it. In particular, they are considered sensitive"%}
<br>
<br>{% trans "those that may reveal aspects such as racial or ethnic origin, present and future health status, genetic information, religious, philosophical and moral beliefs, union affiliation, political opinions, sexual preference."%}
<br>
<br>{% trans "By virtue of the foregoing, the -Owner- may, but will not have the obligation to indicate the following sensitive data:"%}
<br>
<br>{% trans "In the case of -Patients-"%}:
<br>
<br>1){% trans "email"%} <br>{% trans "In the case of -Health Specialists-"%}
<br>
<br>{% trans "Profile background photography; "%}
<br>{% trans "Photos of equipment and the venue; "%}
<br>{% trans "Videos of the facilities; "%}
<br>{% trans "Treatment; "%}
<br>{% trans "Graduate;"%} <br>{% trans "Professional license;"%} 
<br>{% trans "Academic training; "%}
<br>{% trans "Certificates; "%}
<br>{% trans "Experience and achievements; "%}
<br>{% trans "Publications; "%}
<br>{% trans "Awards and distinctions;"%} <br>Facebook; 
<br>LinkedIn; 
<br>Twitter; 
<br>Instagram; or 
<br>Youtube. 
<br>{% trans "Address of your office; "%}
<br>{% trans "Treated Diseases; "%}
<br>{% trans "Languages"%}<br></p>
                </div><div class="mb-5">
                    <h4 class="counter">06.</h4>
                    <h3 class="mb-3 mbr-fonts-style display-5">{% trans "Cookies policy."%}</h3>
                    <p class="mbr-fonts-style display-7">{% trans "-TravelDoctor- uses various technologies to improve the efficiency of its website, including your browsing experience. These technologies include the use of third-party cookies. Cookies are small amounts of information that are stored in the browser used by each user so that the server remembers certain information that it can later use."%}
<br>
<br>
<br>{% trans "This information allows us to identify you and save your personal preferences to provide you with a better browsing experience. We remind you that you can disable or adjust the use of cookies by following the procedures of the Internet browser you use."%}</p>
                </div></div>
        </div>
    </div>
</section>
{% include "landingfooter.html"%}

  <script src="{% static 'landing/assets/web/assets/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'landing/assets/popper/popper.min.js'%}"></script>
  <script src="{% static 'landing/assets/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'landing/assets/smoothscroll/smooth-scroll.js'%}"></script>
  <script src="{% static 'landing/assets/tether/tether.min.js'%}"></script>
  <script src="{% static 'landing/assets/dropdown/js/nav-dropdown.js'%}"></script>
  <script src="{% static 'landing/assets/dropdown/js/navbar-dropdown.js'%}"></script>
  <script src="{% static 'landing/assets/theme/js/script.js'%}"></script>
  
  <script src="{% static 'landing/assets/viewportchecker/jquery.viewportchecker.js'%}"></script>
  <script src="{% static 'landing/assets/touchswipe/jquery.touch-swipe.min.js'%}"></script>
  <script src="{% static 'landing/assets/formstyler/jquery.formstyler.js'%}"></script>
  <script src="{% static 'landing/assets/formstyler/jquery.formstyler.min.js'%}"></script>
  <script src="{% static 'landing/assets/datepicker/jquery.datetimepicker.full.js'%}"></script>
  
  
  <script src="{% static 'landing/assets/formoid.min.js'%}"></script>
  
  
  <input name="animation" type="hidden">


  
  <script src="{% static 'landing/assets/mbr-switch-arrow/mbr-switch-arrow.js'%}"></script>
 
  
 
  <script src="{% static 'landing/assets/parallax/jarallax.min.js'%}"></script>
  <script src="{% static 'landing/assets/theme/js/script.js'%}"></script>
  
  
  
  
</body>
</html>