{% load staticfiles %}
{%  load i18n %}

<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% include "metastatic.html" %}
  

  <link rel="shortcut icon" href="assets/images/td-trans-32x32.png" type="image/x-icon">
  
  
  
  <title> TravelDoctor Terms&amp;Conditions</title>
  <link rel="stylesheet" href="{% static 'landing/assets/web/assets/mobirise-icons2/mobirise2.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/web/assets/mobirise-icons/mobirise-icons.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/bootstrap/css/bootstrap-grid.min.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/bootstrap/css/bootstrap-reboot.min.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/tether/tether.min.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/socicon/css/styles.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/dropdown/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/theme/css/style.css'%}">
  
  <link rel="preload" as="style" href="{% static 'landing/assets/mobirise/css/mbr-additional.css'%}">
  <link rel="stylesheet" href="{% static 'landing/assets/mobirise/css/mbr-additional.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'landing/assets/animatecss/animate.min.css'%}">

  
  
  
  

</head>
<body>
  <section class="menu cid-s0Kd5hW5Yy" once="menu" id="menu1-1w">

    

   {% include "landingnavbar.html"%}
</section>

<section class="engine"></section><section class="mbr-section extСontent cid-s9wQjKKtUg" id="extContent4-1z">
    

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-md-10 col-lg-8 mbr-fonts-style mbr-light display-7">
                <ul> 
                    <li><strong>{% trans "By entering TravelDoctor.mx you are subject to the following Terms of Service and Conditions of Use:" %} 
</strong></li><li><strong>{% trans "The TravelDoctor.mx website is a useful electronic means, which offers you information related to promotions, offers, discounts and contests for health, so when accessing said website, you are subject to these Terms of Service and Conditions of Use, as they appear at the time of access, which at any time are subject to changes and modifications without prior notice." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "The main purpose of TravelDoctor.mx is to publicize information about promotions, offers, discounts and contests in healthcare. Also offers ability to search doctors and health proffesionals which are registered on this page, and which are registered in Google and Yelp services. Also the purpose of page is to put Patients in contact with Health Specialists and, where appropriate, with Medical Centers. To carry out this objective, we generate a platform that allows users, on the one hand, to publish questions related to the purposes of the website; and on the other, that interaction can be generated between them, in order to specify information, as well as generate opinions and replies. With the precision that at no time TravelDoctor.mx intends to apply or make valid the promotions and offers published here, which are the responsibility of its own suppliers or organizers." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "In that sense, the use of this website is under the responsibility of registered users or not. The foregoing, by virtue of the fact that TravelDoctor.mx contains information, data, text and other content collected from a variety of information sources, either by ourselves or by registered users. In such a way that, it is only intended to inform the general public and consumers about topics related to promotions, offers, discounts and contests on brands, products and services in general." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "Now, without limiting the foregoing, all the information contained in TravelDoctor.mx is provided to you -as known- and -as available- without warranty of any kind, including, but not limited to, the implied warranties. of the use of the product. Therefore, the website, TravelDoctor.mx, does not guarantee the accuracy, reliability, integrity or novelty of the content, information and links, or on the use or results of the use of said information obtained." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "In the same way, the TravelDoctor.mx website, as well as the users registered in it, provide links to other websites that offer useful information and details about promotions, offers, discounts and contests published there. However, the inclusion of any link to such web sites does not imply endorsement or control by TravelDoctor.mx of third party web sites. The TravelDoctor.mx website is not responsible for the terms of service or the privacy policies or any content of third-party websites unrelated to TravelDoctor.mx." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "That is why you agree that TravelDoctor.mx is released from any type of responsibility, for any decision or action taken by you or any other person, based on the information contained in TravelDoctor.mx" %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "On the other hand, TravelDoctor.mx does not endorse, nor guarantee, nor is it part of, nor supervises any transaction between users and the providers or organizers of the published promotions, offers, discounts and contests." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "Likewise, it recognizes that any validity or guarantee that is provided in relation to any promotion, offer, discount or contest that may be described or published in TravelDoctor.mx is provided only by the provider or organizer, owner or advertiser and not by TravelDoctor.mx." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "For this reason, special mention is made that it is the responsibility of the user of the website to evaluate the accuracy, completeness or usefulness of any information or other content available through TravelDoctor.mx." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "In this sense, although TravelDoctor.mx tries to ensure the integrity and veracity of all the information published by us or by registered users, there is the possibility that it could include inaccuracies or errors, or unauthorized information, erasures and alterations made through from third parties." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "For the above, the web site TravelDoctor.mx does not give any guarantee that it will be free of errors, delays, interruptions or losses, or that all errors will be corrected. In the event that if there is any inaccuracy in TravelDoctor.mx, we beg you to report it immediately to the following email address contact (at) TravelDoctor.mx." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "In this way, it is that TravelDoctor.mx has the right, but not the responsibility, to supervise the content of its own website and give any information to third parties. In addition to reserving the right to refuse to post or remove any information or content, in whole or in part, because: it is not in accordance with company policies; that is unacceptable, offensive or in violation of this agreement; or, is requested by whoever has the legitimate right to certain content." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "In another aspect, due to the nature of its services, TravelDoctor.mx may spread by itself or through registered users, works protected by copyright or protected distinctive signs, a situation that does not authorize the rest of the users the use, mention or sample of the same in any form or medium, unless it has the written authorization of the respective owner." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "In this way, TravelDoctor.mx is released from any type of responsibility against the owners of works protected by copyright or distinctive signs protected, for the improper use that registered users or not, may make of them ; with the understanding that this website serves only as a communication channel aimed at disseminating promotions, offers, discounts and contests for the benefit of consumers in general." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "Now, if you consider that your work protected by copyright or its distinctive signs protected by industrial property, have been used in TravelDoctor.mx in any way that you consider contrary to your legitimate interests, we beg you to send a notification to the following contact email (at) TravelDoctor.mx. With the precision that these notifications can only be sent by the owner of the aforementioned rights or by a person authorized to act on their behalf; For this reason, the website TravelDoctor.mx reserves the right to request that the representation with which the applicant holds any type of information be accredited." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "Finally, it should be noted that TravelDoctor.mx, in the same way, it works as an open forum to any user who accesses the website. This with the purpose that comments can be made on the publications and links contained therein, so that in turn the people who published a question can exercise their right of reply." %}
</strong></li><li><strong>
</strong></li><li><strong>{% trans "For this reason, users of this website authorize TravelDoctor.mx, who is the owner of the website TravelDoctor.mx, the ability to reproduce and make available the content that each user uploads to said electronic page. And for its part, TravelDoctor.mx, is released from all kinds of responsibility generated by the comments and content that any user of the website, in exercise of their human right to freedom of expression, publishes there." %}</strong></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{%include "landingfooter.html"%}
<script src="{% static 'landing/assets/web/assets/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'landing/assets/popper/popper.min.js'%}"></script>
  <script src="{% static 'landing/assets/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'landing/assets/smoothscroll/smooth-scroll.js'%}"></script>
  <script src="{% static 'landing/assets/tether/tether.min.js'%}"></script>
  <script src="{% static 'landing/assets/dropdown/js/nav-dropdown.js'%}"></script>
  <script src="{% static 'landing/assets/dropdown/js/navbar-dropdown.js'%}"></script>
  <script src="{% static 'landing/assets/theme/js/script.js'%}"></script>
  
  <script src="{% static 'landing/assets/viewportchecker/jquery.viewportchecker.js'%}"></script>
  <script src="{% static 'landing/assets/touchswipe/jquery.touch-swipe.min.js'%}"></script>
  <script src="{% static 'landing/assets/formstyler/jquery.formstyler.js'%}"></script>
  <script src="{% static 'landing/assets/formstyler/jquery.formstyler.min.js'%}"></script>
  <script src="{% static 'landing/assets/datepicker/jquery.datetimepicker.full.js'%}"></script>
  <script src="{% static 'landing/assets/formoid.min.js'%}"></script>
  <script src="{% static 'landing/assets/mbr-switch-arrow/mbr-switch-arrow.js'%}"></script>
 
  
 
  <script src="{% static 'landing/assets/parallax/jarallax.min.js'%}"></script>
  <script src="{% static 'landing/assets/theme/js/script.js'%}"></script>

   <input name="animation" type="hidden">
  
</body>
</html>